Tools/__pycache__/__init__.cpython-38.pyc
Tools/__pycache__/factors.cpython-38.pyc
Tools/__pycache__/numbers.cpython-38.pyc
Tools/__pycache__/primes.cpython-38.pyc
.idea/inspectionProfiles/Project_Default.xml
